
/*Global Classes*/
    html, body{
        padding: 0;
        margin: 0;
    }

    html{
        height: 100%;
    }

    body{
        min-height: 100%;
    }

    a {
        color:palegreen;
        font-weight: bold;
    }

    .city411Brand {
        font-family: 'Orbitron', sans-serif;
        font-size: 26px;
    }

    .city411TitleFont {
        font-family: 'Orbitron', sans-serif;
    }

    .myBold {
        font-weight: bold;
    }

    .myRegular {
        font-weight: normal;
    }

/*Welcome View Classes*/

    .myWelcomeBorderBackground {
        background-color: rgba(255, 255, 255, 0.089);
    }

    .myWelcomeInputBackground {
        background-color: rgba(255, 255, 255, 0.411);
    }

/*Dashboard View Classes*/

    .myBackgroundImage {
        background-image: url("https://eastwood.nyc3.cdn.digitaloceanspaces.com/divisions/iStock-1019413572_web.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .myPinBackground {
        background-color: #4a4a4a79;
    }

    .myWeatherBackground {
        background-color: #3298dcbe;
    }

    .myPrimaryBackground {
        background-color: #00d1b2c2;
    }

    .myPrimaryBackground2 {
        background-color: #00d1b257;
    }

    .myWeatherTodayBackground {
        background-image: url("https://webstockreview.net/images/clipart-png-rain-4.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    
    .backgroundInherit {
        background-color: inherit;
    }

    .display-none {
        display: none;
    }

    .city411WeatherCardTitles {
        font-size: 20px;
    }

    .mySearchIconDashboard {
        pointer-events: initial;
    }

    .btnPin {
        
        border: none; /* Remove borders */
        color: white; /* White text */
        cursor: pointer; /* Mouse pointer on hover */
    }

    .border-0 {
        border-radius: 0;
    }
    

/* Weather Dashboard Classes */
    #historic-day-0 {
        border: greenyellow solid 1px;
    }

/*Media Queries For Mobile Responsive Finish*/

    @media only screen and (max-width: 768px) {
      
      
    }