
/*Global Classes*/
    html, body{
        padding: 0;
        margin: 0;
    }
    html{
        height: 100%;
    }
    body{
        min-height: 100%;
    }

    .city411Brand {
        font-family: 'Orbitron', sans-serif;
        font-size: 26px;
    }

    .city411TitleFont {
        font-family: 'Orbitron', sans-serif;
        font-size: 24px;
    }

    .myBold {
        font-weight: bold;
    }

    .myRegular {
        font-weight: normal;
    }

/*Welcome Page Classes*/

    .myHeroImageWelcome {
        background-image: url("https://eastwood.nyc3.cdn.digitaloceanspaces.com/divisions/iStock-1019413572_web.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .myOpacityBoxWelcome {
        background-color: rgba(255, 255, 255, 0);
    }

    .myOpacityInputWelcome {
        background-color: rgba(255, 251, 251, 0.527);
        border: none;
        font-size: 24px;
        font-weight: bold;
    }

    .mySearchButtonWelcome {
        margin-top: 10px;
        margin-left: 10px;
    }

    .mySearchIconWelcome {
        pointer-events: initial;
        font-size: 26px;
        padding-right: 10px;
    }

/*Dashboard Page Classes*/
  
    .city411WeatherCardTitles {
        
        font-size: 20px;
    }
    .mySearchIconDashboard {
        pointer-events: initial;
    }

    .mySearchColumnDashboard {
        box-shadow: 5px 5px 5px grey; ;
    }

    .mySearchIconDashboard {
        pointer-events: initial
    }

/* Weather Dashboard Classes */
    .historic-day-div {
        /* background-color: #9AA6CC; */
        border: solid teal 1px;
        margin: 10px;
    }

    /* Weather Dashboard Classes */
    .historic-current-month-div {
        /* background-color: #9AA6CC; */
        border: solid teal 1px;
        margin: 10px;
    }